In [2]:
import pandas as pd 

import numpy as np

In [14]:
India_states = pd.read_csv(r"C:\Users\User\Desktop\AI AND DATA SCIENCE BOOTCAMP\POWER BI\State_Region_corrected.csv")

### Q1. finding the null value in the data , if there is a null value then fill them with the means of the column

In [15]:
India_states.isnull().sum()

State / Union territory (UT)    0
Area (km2)                      0
Region                          0
National Share (%)              2
dtype: int64

In [55]:
India_states['Area (km2)'].median()

57409.5

In [28]:
India_states['National Share (%)'].fillna(India_states['National Share (%)'].mean (), inplace = True)

In [29]:
India_states.isnull().sum()

State / Union territory (UT)    0
Area (km2)                      0
Region                          0
National Share (%)              0
dtype: int64

### Q2. What are differnt type of State / Union territory (UT) in the dataset and what is the count occurence of each State / Union territory in the data

In [32]:
India_states['State / Union territory (UT)'].value_counts ()

Himachal Pradesh                            1
Mizoram                                     1
Sikkim                                      1
Manipur                                     1
Dadra and Nagar Haveli and Daman and Diu    1
Telangana                                   1
Punjab                                      1
Odisha                                      1
Assam                                       1
Haryana                                     1
Puducherry                                  1
Goa                                         1
Tamil Nadu                                  1
Chhattisgarh                                1
Arunachal Pradesh                           1
Uttarakhand                                 1
Chandigarh                                  1
Andhra Pradesh                              1
Meghalaya                                   1
Madhya Pradesh                              1
Karnataka                                   1
Jharkhand                                   1
West Bengal                                 1
Delhi                                       1
Bihar                                       1
Ladakh                                      1
Tripura                                     1
Jammu and Kashmir                           1
Uttar Pradesh                               1
Rajasthan                                   1
Kerala                                      1
Maharashtra                                 1
Gujarat                                     1
Nagaland                                    1
Name: State / Union territory (UT), dtype: int64

### Q3 Show all the record where Region is Northeastern or Northern

In [45]:
Rsnen=India_states[India_states['Region'].isin(['Northeastern','Northern'])]

In [48]:
Rsnen.info('Region')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   State / Union territory (UT)  18 non-null     object
 1   Area (km2)                    18 non-null     int64
 2   Region                        18 non-null     object
 3   National Share (%)            18 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 720.0+ bytes

### Q3 Remove all record(rows) where Area (km2)	 is less than 57409.5

In [61]:
India_states[~(India_states['Area (km2)'] < 57409.5)]

# India_states[India_states['Area (km2)'] < 57409.5]

   State / Union territory (UT)  Area (km2)        Region  National Share (%)
0                     Rajasthan      342239      Northern           10.550000
1                Madhya Pradesh      308350       Central            9.370000
2                   Maharashtra      307713       Western            9.360000
3                 Uttar Pradesh      240928      Northern            7.330000
4                       Gujarat      196024       Western            5.960000
5                     Karnataka      191791      Southern            5.830000
6                Andhra Pradesh      162970      Southern            4.870000
7                        Odisha      155707       Eastern            4.730000
8                  Chhattisgarh      135191       Central            2.798844
9                    Tamil Nadu      130058      Southern            3.950000
10                    Telangana      112077      Southern            3.490000
11                        Bihar       94163       Eastern            2.860000
12                  West Bengal       88752       Eastern            2.700000
13            Arunachal Pradesh       83743  Northeastern            2.540000
14                    Jharkhand       79714       Eastern            2.798844
15                        Assam       78438  Northeastern            2.380000
16                       Ladakh       59146      Northern            1.800000

### Q3 increase 'Area (km2)' by 3

In [65]:
India_states.head(2)

  State / Union territory (UT)  Area (km2)    Region  National Share (%)
0                    Rajasthan      342239  Northern               10.55
1               Madhya Pradesh      308350   Central                9.37

In [69]:
India_states['Area (km2)'].apply(lambda a:a + 3 )

0     342242
1     308353
2     307716
3     240931
4     196027
5     191794
6     162973
7     155710
8     135194
9     130061
10    112080
11     94166
12     88755
13     83746
14     79717
15     78441
16     59149
17     55676
18     53486
19     50365
20     44215
21     42244
22     38866
23     22432
24     22330
25     21084
26     16582
27     10489
28      7099
29      3705
30      1486
31       606
32       495
33       117
Name: Area (km2), dtype: int64